<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.knime.workbench.repository.categories">
		<category description="/community/OpenMS" icon="icons/category.png" path="/community/" name="OpenMS" level-id="OpenMS"/>
    	<category description="/community/OpenMS/Conversion" icon="icons/category.png" path="/community/OpenMS" name="Conversion" level-id="Conversion"/>
	</extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/OpenMS/Conversion"
            factory-class="de.openms.knime.consensusTextReader.ConsensusTextReaderNodeFactory"
            id="de.openms.knime.consensusTextReader.ConsensusXMLReaderNodeFactory"/>            
   </extension>
   
</plugin>
