<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.knime.workbench.repository.categories">
		<category description="/community/openms" icon="icons/category.png" path="/community" name="openms" level-id="openms"/>
    	<category description="/community/openms/Conversion" icon="icons/category.png" path="/community/openms" name="Conversion" level-id="conversion"/>
	</extension>
   
   <extension
         point="org.knime.workbench.repository.nodes">
      <node
            category-path="/community/openms/Conversion"
            factory-class="de.openms.knime.consensusXMLReader.ConsensusXMLReaderNodeFactory"
            id="de.openms.knime.ConsensusXMLReaderNodeFactory"/>
   </extension>
   
</plugin>
